
/* 全体のグリッドレイアウト */
#container {
    display: grid;
    grid-template-rows: 60px repeat(12, 60px);
    grid-template-columns: 12px repeat(11, 115px) 12px;
    /* グリットの間の設定 */
    gap: 12px 16px
  }
/* ヘッダー部 */
#header {
    grid-row: 1 / 2;
    grid-column: 2 / 14;
 }
/* マップ部 */
#mymap {
    height: auto;
    width: auto;
    grid-row: 2 / 13;
    grid-column: 4 / 13;
 }
 /* 色セレクトボックス */
 #colorSelectBox {
  display: flex;
  grid-row: 2 / 3;
  grid-column: 2 / 5;
 }
 #colorSelect{
   height: 30px;
 }
/* ボタンスタイル */
.btn-push {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: left;
    background-color: #009bbf;
    font-size: 9px;
    color:snow;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 4px;
    border-bottom: 2px solid midnightblue;
  }
.btn-push:active {
    transform: translateY(4px);
    border-bottom: none;
}
 /* マーカー表示 */
 #markerBtn {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
 }
 /* 重心表示 */
 #centerPointBtn {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
 }
 /* 訪問順表示 */
 #polylineBtn {
  grid-row:  4 / 5;
  grid-column: 2 / 3;
 }
 /* 初期化 */
 #initializeBtn {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
 }
